body{
    background-color:green;
    margin-left: 5%;
    border-radius: 5px;
}

.blink{
    animation: blinker 2s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

.col--lines .time{
background-color: black;
color: #FFFF00;
}
.col--traffic{
    background-color: #fff;
}

.lines div{
    background-color: white;
    padding: 20px;
}

.line--work{
    background-color: rgb(189, 189, 6) !important;
}

.line--critical{
    background-color: rgb(195, 4, 4) !important;
}